body.welcome {
    opacity: 0.9;
    background: url(background.jpg) no-repeat center center fixed;
    margin: 0px;

}

body.other {
  color: #4d1282; /*#2F0352FF;*/
    background: url(background1.jpg) no-repeat center center fixed;
    /*background-size: cover;*/
    margin: 0px;
}

.title {
	display: block;
	margin: auto;

}

.description {
	font-size: 20px;
	text-align: center;
  font-family: 'Droid Serif', serif;
}
/*
#signup {
	text-align: center;
}

#login {
	margin: none;
	padding: none;
}*/

.enter {
	text-align: center;
  padding: 50px;
  margin: auto;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 2px 1px black;
  border-radius: 10px;


}

.body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 100px;
  font-size: 21;
}

.navbar {
/*    height: 50px;
    padding: 50px;*/
    display: inline;
    padding-bottom: 10px;
/*    width: 1400px;*/
}

.pagelinks {
    display: inline;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.link:link, .link:visited {
    color: #EBEBF3FF;
    text-decoration: none;

}

.line-link:link, .line-link:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

.logout-button {
  background: none;
  border: 1px solid #efb6ec;
  border-radius:7px;
 /* margin-left: 1300px;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  display: inline;
  position: absolute;
  right: 20px;
  top: 30px;
/*  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;*/
}

button {
  background: none;
  border: none;
 /* margin-left: 1300px;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.logout-button:focus {
  outline: none;
}

textarea {
  width: 500px;
  height: 50px;
  border:1px solid #efb6ec; #C9A4D97F;
  background: #d59cd6; #C9A4D97F;
/*  background:  #00B6FF; */
  border-radius:10px;
  font-size: 15px;
  opacity: 0.7;
/*  color: white;
  text-align: center; */
}

input {
  width: 110px;
  height: 30px;
  border: 1px solid #efb6ec; #C9A4D9FF;
  background: #d59cd6; #C9A4D97F;
  border-radius:10px;
  color: white; #898484;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;


}

#enter {
  width: 200px;
  height: 30px;
  border: 1px solid grey; /*#BF0053;*/
  background: transparent;
  border-radius:5px;
  padding: 5px;
  margin: 2px;
  border-color: #3F3F3FFF;
}

/*::-webkit-input-placeholder { 
  color: #6E727BFF;
}*/

#enter-submit {
  width: 100px;
  height: 30px;
  border: 1px;
/*  color: ; */
  background: #B686AAFF;
  opacity: 0.8;
  border-radius:5px;
  margin: 3px;
  color: #f79ef5;
}

.link {
  text-decoration: none;
  padding: 8px;
}
